<div class="jumbotron">
<p id="notice"><%= notice %></p>

<h1>Lista Pinów</h1>

<table>
  <thead>
    <tr>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
        <td><%= link_to ' Pokaż ', pin %></td>
        <td><%= link_to ' Edytuj', edit_pin_path(pin) %></td>
        <td><%= link_to ' Usuń', pin, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy Pin', new_pin_path %>
</div>